.my-team {
  @include center;

  table {
    @include center;
    @include striped-table;
    .weak {
      height: 10px;
      background-color: $red;
    }

    .strong {
      height: 10px;
      background-color: $light-blue;
    }
    .title-cell {
      @include center;
    }
  }
}
