@import 'zeppelin/zeppelin';

@include reset;

body {
  background: $light-blue;
  padding-top: 47px;
}

.topnav {
  @include fixed-nav(shade);
  @include side-pad(50px);
}

.logoicon {
  max-width: 30px;
}

.logsign {
  float: right;
  margin-right: 150px;
}

.wrap {
  @include container;
  @include smooth;
  background: $off-white;
  padding: 15px;
}

// Pokemon Table

.pkmntable {
  @include striped-table;
  @include center;
  td {
    padding-right: 15px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.names {
  @include input;
  margin-bottom: 10px;
}

.gif {
  max-width: 40px;
}

.add {
  @include button($blue, $off-white);
  @include center;
}

.atk {
  background-color: $orange;
}

.def {
  background-color: $yellow;
}

.spa {
  background-color: $light-blue;
}

.spd {
  background-color: $light-green;
}

.spe {
  background-color: $light-purple;
}

.hp {
  background-color: $red;
}


// Navigation Dropdown

nav div {
  display: inline-block;
  float: right;
}
nav ul {
  display: inline-block;
  list-style: none;
  padding: 0 19px;
  position: relative;
  float: right;
  margin: 0;
  ul {
    @include smooth;
    padding: 20px;
    display: none;
    left: 10px;
    position: absolute;
    top: 27px;
    border: 2px solid $grey;

    li {
      float: none;
      display: block;
      padding: 5px;

      input {
        @include input;
      }

      button {
        @include button($light-blue, $off-white);
      }
    }
  }
}

.show {
  display: inline-block;
  @include center;
  margin: 0;
  padding : 0;
  background: $off-white;


}
