@import 'zeppelin/zeppelin';
@include reset;

// General

body {
  background-color: $light-blue;
  background-image: url('../img/bg.png');
  background-size: cover;
  padding-top: 47px;
  background-attachment: fixed;
}

a {
  color: $off-black;
  &:visited {
    color: $off-black;
  }
}

.wrap {
  @include container;
  @include smooth;
  @include clearfix;
  background: rgba(250,250,250,.9);
  padding: 15px;
  margin-bottom: 15px;
}

@import '_table.scss';
@import '_nav.scss';
@import '_splash.scss';
@import '_myteams.scss';
@import '_pokemon.scss';
@import '_teampage.scss';
